* {
  font-family: "IosevkaRn Nerd Font";
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
  min-height: 0;
}

window#waybar {
  background-color: @base00;
  color: @base05;
}

#custom-notification {
  color: @base05;
  padding: 4px 4px 4px 0;
}

#clock {
  color: @base05;
  padding: 4px 4px;
}

#battery {
  padding: 10px 4px;
  color: @base0B;
}

#battery.charging {
  color: @base0A;
}

#battery.critical:not(.charging) {
  color: @base08;
}

#battery.draw {
  color: @base0C;
  padding: 6px 6px
}

#workspaces {
  padding: 6px 4px;
}

#workspaces button {
  color: @base04;
  background-color: transparent;
  padding: 2px 6px 2px 0;
}

#workspaces button.active {
  color: @base06;
}

#workspaces button:hover {
  background-color: @base02;
}

tooltip {
  background-color: @base01;
  border: 1px solid @base02;
}

tooltip * {
  margin: 2px;
  color: @base05;
}
